@media screen and (max-width:600px){
    main{
        width: 400px;
    }

   article  section{
        width: 400px;
    }

    header h1{
        font-size: 1.5em;
    }
    
}

@media screen and(min-width:1000px;) and (max-width:1200px) {
    main{
        width: 1000px;
    }

    header h1{
        font-size:30em;
    }
    
    
}