*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: titulo;
    src: url(fontes/DESIGNER.otf);
}

@font-face {
    font-family: padrao;
    src: url(fontes/Gobold Light.otf);
}

:root{
    --color0:#403B31;
    --color1:#D9CEC5 ;
    --color2:#F2EADF;
    --color3:#B2BEBF;

    --fonttitulo:titulo;
    --fontpadrao:padrao;
    
}

body{
    height: 97vh;
    min-width: 400px;
    max-width: 1700px;

    background-color: var(--color1);

    text-align: justify;
}

header{
    background-color: var(--color0);
    color: white;
    font-family: titulo;
    font-weight:bolder;
    font-size: 1.5em;
    text-align: center;

    padding: 40px;
    min-height: 90px;
}

header p{
    font-family: padrao;
    font-size: 0.6em;

    padding-top: 10px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.login{
    height: 3px;
    padding-top: 10px;
}

.links{
    display: flex;
}

.links a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.788);
    font-family: fantasy;
    padding: 10px;
}

nav a:hover{
    background-color: black;
    color: white;
    text-shadow: 3px 3px 3px black;
    transition-duration: 0.5s;
    font-size: x-large;
}

main{
    display: block;
    margin: auto;
    padding: 40px;
    min-width: 300px;
    max-width: 1200px;
   

    background-color: var(--color2);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2em;
    font-size: 1em;
    text-indent: 15px;
}

main h1,h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.9em;
    text-indent: 0px;
}

main  a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    border-radius: 20px;
    text-align: center;
    padding: 3px;
    background-color: var(--color1);
}

main a:hover{
    text-decoration: underline;
    color: black;
    text-shadow: 1px 1px 1px  rgba(0, 0, 0, 0.228);
}

main strong{
    color: red;
}
img{
    display: block;
    margin: auto;
    padding-bottom: 20px;
    width: auto;

    border-radius: 10px;
   
}

main .apend{
    
    background-color: var(--color0);
    color: white;
}

section{
    background-color: black;
    color: white;
    font-family: var(--fontpadrao);
    padding: 40px;
    min-width: 300px;
    max-width: 1200px;
    display: block;
    margin: auto;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.488);
    border-radius: 0px 0px 10px 10px;
}




ul{
    list-style-type:'\1F5F8' ;
    margin-right: 0%;
}

summary{
   font-family: monospace;
   font-size: 1.1em;
}
footer{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 3px;
}