*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: titulo;
    src: url(fontes/DESIGNER.otf);
}

@font-face {
    font-family: padrao;
    src: url(fontes/Gobold Light.otf);
}

:root{
    --color0:#403B31;
    --color1:#D9CEC5 ;
    --color2:#F2EADF;
    --color3:#B2BEBF;

    --fonttitulo:titulo;
    --fontpadrao:padrao;
    
}

body{
    height: 97vh;
    min-width: 400px;
    max-width: 1700px;

    background-color: var(--color1);
}

header{
    background-color: var(--color0);
    color: white;
    font-family: titulo;
    font-weight:bolder;
    font-size: 1.5em;
    text-align: center;

    padding: 40px;
    min-height: 90px;
}

header p{
    font-family: padrao;
    font-size: 0.6em;

    padding-top: 10px;
}

nav{
    background-color: #000000d1;
    padding: 3px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 4px;
    font-weight: lighter;
}

nav a:hover{
    text-shadow: 1px 2px 5px rgb(247, 247, 247);
    background-color: #000000;
    border-radius: 4px;
    transition-duration: 0.3s;
}

nav div{
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px 5px;
}

main{
    display: block;
    margin: auto;
    padding: 40px;
    width: 400px;
   

    background-color: var(--color2);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2em;
    font-size: 1em;
    text-indent: 15px;
}

main h1,h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.9em;
    text-indent: 0px;
}

img{
    display: block;
    margin: auto;
    padding-bottom: 20px;
    width: auto;

    border-radius: 10px;
   
}

section{
    background-color: black;
    color: white;
    font-family: var(--fontpadrao);
    padding: 20px;
    width: 100%;
    display: block;
    margin: auto;
}

#peq a{
    text-decoration: none;
    color: black;
    font-family: monospace;
    font-weight: bolder;
    list-style-type:'\1F5F8' ;
}

ul{
    list-style-type:'\1F5F8' ;
    margin-right: 0%;
}

summary{
   font-family: monospace;
   font-size: 1.1em;
}
footer{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 3px;
}